header, footer {
	background-color: var(--bg-horizon-color);
	margin: 0;
	min-height: 10vh;
}

header {
	background-color: var(--bg-horizon-color);
	border-bottom: inset 2px var(--outliner-far-color);
}

#logoImg {
	max-width: 60%;
	min-width: 300px;
	max-height: 250px;
	margin: auto;
	display: block
}

#banner p {
	text-align: center;
	font-size: 1.6em;
	margin: auto;
}

main {
	min-height: 80vh
}

header nav {
	border-bottom: outset 2px var(--outliner-far-color);
	margin: 0 -1px 0 -1px;
	padding: 0.2em 10%;
	background-color: var(--bg-middle-color);
    display: flex;
	justify-content: space-between;
}

footer {
	border-top: outset 2px var(--outliner-far-color);
}