/* You can add global styles to this file, and also import other style files */
:root {
	--text-main-color: antiquewhite;
	--text-secondary-color: lavender;
	--bg-horizon-color: darkslateblue;
	--bg-far-color: #8f1ce3;
	--bg-middle-color: #722598;
	--bg-close-color: indigo;
	--bg-focus-color: darkmagenta;
	--outliner-far-color: darkorchid;
	--outliner-close-color: goldenrod;
	--decorator-color: pink;
	--title-main-color: #ffdaf3;
	--title-secondary-color: #E9B533;
	--title-tertiary-color: #F5F053;
}

/*
palette bleu-ciel :
--text-main-color: black;
--text-secondary-color: midnightblue;
--bg-horizon-color: lemonchiffon;
--bg-far-color: mediumaquamarine;
--bg-middle-color: lightskyblue;
--bg-close-color: lightcyan;
--bg-focus-color: aquamarine;
--outliner-far-color: paleturquoise;
--outliner-close-color: darkturquoise;
--decorator-color: blue;
--title-main-color: blue;
--title-tertiary-color: #287925;
--title-secondary-color: #625300;
*/

/*
palette beige
--text-secondary-color: darkslategray;
--bg-horizon-color: lavenderblush;
--bg-far-color: oldlace;
--bg-middle-color: beige;
--bg-close-color: seashell;
--bg-focus-color: antiquewhite;
--outliner-far-color: silver;
--outliner-close-color: slategray;
--decorator-color: rosybrown;
--title-main-color: rosybrown;
--title-tertiary-color: chocolate;
--title-secondary-color: sienna;
*/

a {
	color: var(--text-main-color);
	text-decoration: underline dashed var(--decorator-color);
}

a:hover, a:focus {
	color: var(--text-secondary-color);
	text-decoration: underline wavy var(--decorator-color);
}

body {
	background-color:var(--bg-far-color);
	color: var(--text-main-color);
	margin: 0;
}